Repository versionpress/versionpress, pull requests merged in 2018-06, with the labels that each got.

#1329 Dev setup updates – spring 2018
  .gitignore
  .ide-tpl/.idea-versionpress/php-docker-settings.xml
  .ide-tpl/.idea-versionpress/php.xml
  .ide-tpl/.idea-versionpress/versionpress.iml
  dev-env/.dockerignore
  dev-env/.gitignore
  dev-env/vp-entrypoint.sh
  dev-env/wordpress-cli-image/Dockerfile
  dev-env/wordpress-image/Dockerfile
  docker-compose.override.example.yml
  docker-compose.yml
  docs/Dev-Setup.md
  ext-libs/.gitignore
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  gulpfile.js
  package-lock.json
  package.json
  plugins/versionpress/.gitignore
  plugins/versionpress/composer.lock
  plugins/versionpress/setup-hooks.php
  plugins/versionpress/tests/.gitignore
  plugins/versionpress/tests/Automation/WpAutomation.php
  plugins/versionpress/tests/End2End/Comments/CommentsTest.php
  plugins/versionpress/tests/End2End/Media/MediaTest.php
  plugins/versionpress/tests/End2End/Menus/MenusTest.php
  plugins/versionpress/tests/End2End/Options/OptionsTest.php
  plugins/versionpress/tests/End2End/Plugins/PluginsTest.php
  plugins/versionpress/tests/End2End/Posts/PostsTest.php
  plugins/versionpress/tests/End2End/Revert/RevertTest.php
  plugins/versionpress/tests/End2End/Themes/ThemesTest.php
  plugins/versionpress/tests/End2End/Themes/ThemesTestWpCliWorker.php
  plugins/versionpress/tests/End2End/Translations/TranslationsTest.php
  plugins/versionpress/tests/End2End/Users/UsersTest.php
  plugins/versionpress/tests/End2End/Utils/End2EndTestCase.php
  plugins/versionpress/tests/End2End/Utils/PostTypeTestCase.php
  plugins/versionpress/tests/End2End/Widgets/WidgetsTest.php
  plugins/versionpress/tests/Selenium/PublicWebTest.php
  plugins/versionpress/tests/Selenium/SeleniumTestCase.php
  plugins/versionpress/tests/Utils/CommitAsserter.php
  plugins/versionpress/tests/Utils/DBAsserter.php
  plugins/versionpress/tests/Utils/TestRunnerOptions.php
  plugins/versionpress/tests/Workflow/CloneMergeTest.php
  plugins/versionpress/tests/docker-compose.yml
  plugins/versionpress/tests/dockerfiles/php5.6-apache/Dockerfile
  plugins/versionpress/tests/dockerfiles/testenv/Dockerfile
  plugins/versionpress/tests/package-lock.json
  plugins/versionpress/tests/package.json
  plugins/versionpress/tests/phpunit-bootstrap.php
  plugins/versionpress/tests/phpunit.xml
  plugins/versionpress/tests/test-config.yml
  scripts/build.ts
  scripts/get-dockerhub-digests.ts
  scripts/init-dev.ts
  scripts/init-phpstorm.ts
  scripts/script-utils.ts
  tsconfig.json
Labels: scope: dev-infrastructure

#1337 Update frontend dependecies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/commit.ts
  frontend/src/actions/commits.ts
  frontend/src/actions/filter.ts
  frontend/src/actions/selection.ts
  frontend/src/actions/utils.ts
  frontend/src/components/app/App.tsx
  frontend/src/components/bulk-action-panel/BulkActionPanel.tsx
  frontend/src/components/bulk-action-panel/options/Options.tsx
  frontend/src/components/commit-overview-panel/names/Name.tsx
  frontend/src/components/commit-overview-panel/preprocessLines.tsx
  frontend/src/components/commit-panel/CommitPanel.tsx
  frontend/src/components/commits-table/CommitsTable.tsx
  frontend/src/components/commits-table/commit-details/CommitDetails.tsx
  frontend/src/components/commits-table/commit-summary/Message.tsx
  frontend/src/components/commits-table/commit-summary/Rollback.tsx
  frontend/src/components/commits-table/commit-summary/Undo.tsx
  frontend/src/components/commits-table/environment/Environment.tsx
  frontend/src/components/commits-table/footer/Footer.tsx
  frontend/src/components/common/DiffParser.ts
  frontend/src/components/dialogs/ConfirmDialog.tsx
  frontend/src/components/filter/Filter.tsx
  frontend/src/components/home/HomePage.tsx
  frontend/src/components/legacy/icons.less
  frontend/src/components/modal/Modal.tsx
  frontend/src/components/navigation/Navigation.tsx
  frontend/src/components/portal/portal.tsx
  frontend/src/components/search/Search.tsx
  frontend/src/components/search/background/Background.tsx
  frontend/src/components/search/background/Token.tsx
  frontend/src/components/search/input/Input.tsx
  frontend/src/components/search/modifiers/date/Component.tsx
  frontend/src/components/search/modifiers/date/adapter.ts
  frontend/src/components/search/modifiers/getComponent.tsx
  frontend/src/components/search/modifiers/list/ItemListItem.tsx
  frontend/src/components/search/modifiers/list/adapter.ts
  frontend/src/components/search/utils/getMatch.ts
  frontend/src/components/search/utils/prepareConfig.ts
  frontend/src/components/search/utils/tokenize.ts
  frontend/src/components/service-panel/ServicePanel.tsx
  frontend/src/config/VersionPressConfig.d.ts
  frontend/src/config/config.ts
  frontend/src/config/window.ts
  frontend/src/entities/CommitRow.ts
  frontend/src/main.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/GitBranchColorProvider.ts
  frontend/src/services/WpApi.ts
  frontend/src/stores/appStore.ts
  frontend/src/stores/commitPanelStore.ts
  frontend/src/stores/commitsTableStore.ts
  frontend/src/stores/servicePanelStore.ts
  frontend/src/utils/ArrayUtils.ts
  frontend/src/utils/StringUtils.ts
  frontend/tsconfig.json
  frontend/webpack/webpack-dev-server.js
  frontend/webpack/webpack.base.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: scope: gui

#1338 Fix frontend package vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Labels: scope: gui

#1341 Slightly updated intro section on Docker
  docs/content/en/developer/dev-setup.md
Labels: scope: docs

#1340 Docs for VP_WP_CLI_BINARY config option
  docs/content/en/getting-started/configuration.md
Labels: scope: docs

#1342 Docs README small update
  docs/README.md
Labels: scope: docs
