Repository versionpress/versionpress, pull requests merged in 2019-03, with the labels that each got.

#1392 Docs: separate page on Testing
  docs/content/en/developer/dev-setup.md
  docs/content/en/developer/testing.md
  docs/mkdocs.yml
Labels: scope: docs

#1393 Minor docs updates around dev setup and testing
  docs/content/en/developer/dev-setup.md
  docs/content/en/developer/testing.md
Labels: scope: dev-infrastructure, scope: docs

#1394 Revert "Run tests in Travis" for now
  .travis.yml
Labels: scope: dev-infrastructure

#1395 Separate docker-compose files for dev env vs. tests
  docker-compose-tests.yml
  docker-compose.yml
  docs/content/en/developer/testing.md
  package.json
Labels: scope: dev-infrastructure, scope: tests

#1397 Run CLI image as UID 33 (Debian's "www-data")
  dev-env/wordpress-cli-image/Dockerfile
  docker-compose-tests.yml
Labels: scope: dev-infrastructure, scope: tests

#1396 Use named volumes for tests
  dev-env/test-logs/.keep
  dev-env/test-logs/.tracy/.keep
  docker-compose-tests.yml
  docker-compose.yml
  docs/content/en/developer/testing.md
  package.json
  plugins/versionpress/tests/phpunit-bootstrap.php
Labels: scope: dev-infrastructure, scope: tests

#1398 Use digests for Docker images
  dev-env/wordpress-cli-image/Dockerfile
  dev-env/wordpress-image/Dockerfile
  docker-compose-tests.yml
  docker-compose.yml
  package.json
Labels: scope: dev-infrastructure

#1399 Stop containers after tests
  docs/content/en/developer/testing.md
  package.json
Labels: scope: dev-infrastructure, scope: tests

#1404 'Scripts' project with its own `package.json`, deps update
  docs/content/en/developer/dev-setup.md
  package-lock.json
  package.json
  scripts/README.md
  scripts/build.ts
  scripts/init-dev.ts
  scripts/init-phpstorm.ts
  scripts/package-lock.json
  scripts/package.json
  scripts/script-utils.ts
  scripts/tsconfig.json
Labels: scope: dev-infrastructure

#1401 New `run-tests.ts`, making test runs more reliable
  docker-compose-tests.yml
  docs/content/en/developer/testing.md
  package.json
  scripts/package.json
  scripts/run-tests.ts
Labels: scope: tests

#1403 Docker Toolbox on Windows – notes
  docs/content/en/developer/dev-setup.md
Labels: scope: docs, scope: tests

#1410 Fresh site setup before CloneMergeTest
  plugins/versionpress/tests/Automation/WpAutomation.php
  plugins/versionpress/tests/Workflow/CloneMergeTest.php
Labels: scope: tests

#1411 Exploring the test stack – small updates
  docs/content/en/developer/testing.md
  package.json
  scripts/run-tests.ts
Labels: scope: tests

#1414 Fix markdownlint violation in docs/content/en/troubleshooting/iis.md
  docs/content/en/troubleshooting/iis.md
Labels: scope: docs
