Repository versionpress/versionpress, pull requests merged in 2019-04, with the labels that each got.

#1418 Update frontend dependecies
  frontend/package-lock.json
  frontend/package.json
Labels: scope: frontend

#1415 Have Travis run tests
  .travis.yml
  package.json
Labels: scope: dev-infrastructure, scope: tests

#1422 Fix `run-tests.ts`: return non-zero exit code when tests fail
  scripts/run-tests.ts
Labels: scope: dev-infrastructure

#1423 Updated docs on development process
  CONTRIBUTING.md
  docs/content/en/developer/development-process.md
  docs/content/en/release-notes/index.md
Labels: meta, scope: docs

#1424 Changelog script
  .vscode/launch.json
  docs/content/en/developer/development-process.md
  package.json
  scripts/.env.example
  scripts/.gitignore
  scripts/@types/string.prototype.matchall/index.d.ts
  scripts/README.md
  scripts/changelog.ts
  scripts/package-lock.json
  scripts/package.json
  scripts/tsconfig.json
  scripts/utils/github.ts
Labels: scope: dev-infrastructure

#1425 Add `--format markdown` option to the `changelog` tool
  scripts/README.md
  scripts/changelog.ts
Labels: scope: dev-infrastructure

#1426 Add 4.0-beta2 release notes
  docs/content/en/release-notes/4.0-beta2.md
  docs/mkdocs.yml
Labels: scope: docs

#1427 Small update of release process docs
  docs/content/en/developer/development-process.md
Labels: meta

#1428 Remove link to VersionPress.com from Developer Preview docs
  docs/content/en/getting-started/about-eap.md
Labels: scope: docs

#1429 Capitalized values aren't handled correctly
  plugins/versionpress/src/Utils/QueryLanguageUtils.php
  plugins/versionpress/tests/Unit/EntityInfoTest.php
Labels: bug

#1432 Clarify names of tests in EntityInfoTest
  plugins/versionpress/tests/Unit/EntityInfoTest.php
Labels: scope: tests
